.gallery {
    margin: 20px auto;
    padding: 50px;
    border-radius: 50px;
    width: 80%;
    background-color:grey;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.dogImage {
    width: 250px;
    height: 250px;
}

.headline {
    text-align: center;
    text-transform: capitalize;
}